<style>
  body {
    background: url(assets/chessbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="homepagebox col-xs-6 col-xs-offset-3 text-center">
  <span class="homepagetype">Queen's Pawn Chess</span><br />
  <h4>Built with love, commitment, and Ruby on Rails</h4><br />
  <%= button_to "Start a new game", new_game_path, :class => "btn btn-danger", :method => :get  %>
  <br />
</div>
