<br>
<div class="col-xs-10 col-xs-offset-1">
	<h1><%= @game.name %></h1>

	<div class="chessboard">

		<% 7.downto(0) do |row_coordinate| %>

		<div class="row">

			<% 0.upto(7) do |column_coordinate| %>

			<% if row_coordinate.even? %>
        <div class="<%= cycle("white even", "black even") %>">
      <% else %>
        <div class="<%= cycle("black odd", "white odd") %>">
      <% end %>
					<!-- piece_at method in the pieces model -->
					<% if @game.piece_at(column_coordinate, row_coordinate) %>
							<%= image_tag @game.piece_at(column_coordinate, row_coordinate).to_my_image_path %>
					<% end %>

				</div>

			<% end %>

				</div>

		<% end %>

	</div><!-- chessboard end -->
</div><!-- bootstrap grid css end -->
